# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
.terraform.lock.hcl

# Sensitive variables
terraform.tfvars
*.auto.tfvars

# OS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo
.terraform.tfstate.lock.info
